div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    z-index: 2;
    width: 100%;  
    
    &.stopover-container {
        padding-bottom: 22px;
    }
}

.circle {
    background-color: #054687;
    border: 1px solid #054687;
    border-radius: 16px;
    width: 16px;
    height: 16px;
    &.stopover {
        background-color:#fff;
    }
}

span {
    margin-top:14px;
    color: var(--auro-color-text-secondary-on-light);
    padding-bottom: 6px;
}