/* stylelint-disable custom-property-empty-line-before */

@import "./../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";

:host {
  --ds-auro-flightline-segment-line-color: var(--ds-color-utility-navy-default, #{$ds-color-utility-navy-default});
  --ds-auro-flightline-destination-line-color: var(--ds-color-utility-navy-default, #{$ds-color-utility-navy-default});

  --ds-auro-flightline-layover-marker-border-color: var(--ds-color-utility-navy-default, #{$ds-color-utility-navy-default});
  --ds-auro-flightline-layover-marker-container-color: var(--ds-color-utility-navy-default, #{$ds-color-utility-navy-default});
  
  --ds-auro-flightline-layover-iata-color: var(--ds-color-text-secondary-default, #{$ds-color-text-secondary-default});
  --ds-auro-flightline-layover-duration-color: var(--ds-color-text-secondary-default, #{$ds-color-text-secondary-default});
}
