@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";

:host {
  --ds-auro-flightline-destination-line-color: var(--ds-advanced-color-flightline-line, #{$ds-advanced-color-flightline-line});
  --ds-auro-flightline-segment-iata-text-color: var(--ds-basic-color-texticon-muted, #{$ds-basic-color-texticon-muted});
  --ds-auro-flightline-segment-line-color: var(--ds-advanced-color-flightline-line, #{$ds-advanced-color-flightline-line});
  --ds-auro-flightline-layover-duration-color: var(--ds-basic-color-texticon-muted, #{$ds-basic-color-texticon-muted});
  --ds-auro-flightline-layover-marker-border-color: var(--ds-advanced-color-flightline-indicator, #{$ds-advanced-color-flightline-indicator});
  --ds-auro-flightline-layover-marker-container-color: var(--ds-advanced-color-flightline-indicator, #{$ds-advanced-color-flightline-indicator});
}
