@import "./../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";

:host {
  --ds-auro-flight-segment-badge-text-color: var(--ds-color-text-error-default, #{$ds-color-text-error-default});
  --ds-auro-flight-segment-color: var(--ds-color-utility-navy-default, #{$ds-color-utility-navy-default});
  --ds-auro-flight-segment-iata-text-color: var(--ds-color-text-secondary-default, #{$ds-color-text-secondary-default});
  --ds-auro-flight-segment-leg-border-color: var(--ds-color-border-info-default, #{$ds-color-border-info-default});
  --ds-auro-flight-segment-leg-container-color: var(--ds-color-utility-navy-default, #{$ds-color-utility-navy-default});
  --ds-auro-flightline-canceled-color: var(--ds-color-utility-error-default, #{$ds-color-utility-error-default});
  --ds-auro-flightline-nonstop-color: var(--ds-color-utility-navy-default, #{$ds-color-utility-navy-default});
}
